/* mobile view first! */
/* could make the rows responsive by taking out the hard-coded height values */
@media only screen and (max-width: 480px) {

  body {
    display: grid;
    grid-template-columns: 50% 50%;
    width: auto;
    margin: 0 auto;
    /* margin-top: 50px;
    margin-bottom: 50px; */
    overflow: auto;
  }

  div:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 3;
    height: 75px;
  }

  div:nth-child(2) {
    grid-column-start: 1;
    grid-column-end: 3;
    height: 150px;
    line-height: 150px;
  }

  div:nth-child(3) {
    grid-column-start: 1;
    grid-column-end: 3;
    height: 125px;
    line-height: 125px;
  }

  div:nth-child(4) {
    grid-column-start: 1;
    grid-column-end: 3;
    height: 125px;
    line-height: 125px;
  }

  div:nth-child(5) {
    grid-column-start: 1;
    grid-column-end: 2;
    height: 250px;
    line-height: 250px;
  }

  div:nth-child(6) {
    grid-column-start: 2;
    grid-column-end: 3;
    height: 250px;
    line-height: 250px;
  }

  div:nth-child(7) {
    grid-column-start: 1;
    grid-column-end: 2;
    height: 250px;
    line-height: 250px;
  }

  div:nth-child(8) {
    grid-column-start: 2;
    grid-column-end: 3;
    height: 250px;
    line-height: 250px;
  }
    /* display: flex;
    justify-content: center;
    align-items: center;

    height: 250px;
    width: 50%; */
  div:nth-child(9) {
    grid-column-start: 1;
    grid-column-end: 3;
    height: 80px;
    line-height: 80px;
  }  
}

/* tablet view */
@media only screen and (min-width: 481px) and (max-width: 959px) {
  body {
    display: grid;
    grid-template-columns: repeat(4) 1fr;
    grid-template-rows: 80px 175px 150px 250px 125px;
    width: auto;
    overflow-auto;
  }

  div:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  div:nth-child(2) {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  div:nth-child(3) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  
  div:nth-child(4) {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  div:nth-child(5) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
  }

  div:nth-child(6) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
  }

  div:nth-child(7) {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
  }
  
  div:nth-child(8){
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
  }

  div:nth-child(9) {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 6;
  }
}

/* desktop view */
@media only screen and (min-width: 960px) {
  body {
    display: grid;
    grid-template-columns: 200px 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 200px 250px 150px;
    width: auto; 
    /* margin-top: 50px;
    margin-bottom: 50px; */
    overflow: auto;
  }

  div:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 6;
    height: 100px;
  }

  div:nth-child(2) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 5;
  }  

  div:nth-child(3) {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  div:nth-child(4) {
    grid-column: 4;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  div:nth-child(5) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  div:nth-child(6) {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  div:nth-child(7) {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  div:nth-child(8) {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  div:nth-child(9) {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 5;
  }
}